.field {
  display: inline-block;
  padding: 20px;
  background-color: lightgray;
  border-radius: 10px;
  font-size: 25px;
}

.timer {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 25px;
};

